body {
  font-family: sans-serif;
}

.remote-video {
  max-width: 100%;
  width: 500px;
  display: block;
  margin: auto;
  padding-right: 500px;
}

h1{
	display: block;
	margin: auto;
	text-align: center;
}
